$sidenav-width = 10rem
$sidenav-transition = 300ms ease-in

theme_color = linear-gradient(135deg, rgba(104,6,116,1) 40%, rgba(95,4,160,1) 100%);
secondary_color = #D5BBB1

primary-100
primary-200
primary-300

secondary-100
secondary-200
secondary-300

accent-100
accent-200
accent-300

:root
    font-family: 'Noto Sans JP', sans-serif

*, :global(body)
    margin: 0
    padding: 0
    box-sizing: border-box
:global(body, html)
    height 100%
    display flex
    flex-direction column
    color #f7f7f2
    background-image url("/background.jpg")

