$sidenav-width = 10rem

$sidenav-transition = 300ms ease-in

:root
    font-family: 'Noto Sans JP', sans-serif

*, :global(body)
    margin: 0
    padding: 0
    box-sizing: border-box
:global(body, html)
    height 100%
    display flex
    flex-direction column
    color #f7f7f2
    background-image url("/background.jpg")

theme_color = linear-gradient(135deg, rgba(104,6,116,1) 40%, rgba(95,4,160,1) 100%);
secondary_color = #D5BBB1

primary-100 = #93B7BE
primary-200 = #574F2A
primary-300 = #8A4F7D

secondary-100 = #E0ACD5
secondary-200 = #66CCFF
secondary-300 = #FF8360

accent-100 = #29E7CD
accent-200 = #EC4E20
accent-300 = #D741A7